.gallery-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .2s;
    overflow: hidden;
    // transform: skewY(7deg);

    @include respond(tab-port) {
        padding: 2rem;
    }


    &__image {
        transition: all .3s;
        width: 100%;
        boackground-size:cover;
        @include respond(tab-port) {
            margin-bottom: 0;
        }
        &:hover {
        transform: scale(1.4) translateY(-1.5rem);
        }

    }

    // &__text {}

    &:hover {
        transform: scale(1.4) translateY(-1.5rem);
    }
}